*{
    padding: 0;
    margin: 0;
}

:root{
    --bgnav: cadetblue;
    --navbg:cyan;
    --seccolor:tomato;
    --underlinecolor:white;
}

body{
    background-color: var(--seccolor);
}

.nav{
    max-width: 100vw;
    height: 6vh;
    position: sticky;
    top: 0vh;
    background-color: var(--bgnav);
    justify-content: center;

}
ul li{
    list-style: none;
    display: inline-flex;
    background-color: var(--navbg);
    width: 8vw;
    height: 4vh;
    position: relative;
    top: 1.05vh;
    left: 29vw;
    justify-content: center;
}

.q1{
    position: relative;
    /* top: 0.7vh; */
}
.q2{
    position: relative;
    /* top: 0.9vh; */
}
.q3{
    position: relative;
    /* top: 0.9vh; */
}
.q4{
    position: relative;
    /* top: 0.9vh; */
}
.q5{
    position: relative;
    /* top: 0.9vh; */
}

a{
    color: var(--seccolor);
    font-family: cursive;
    text-decoration-color: var(--underlinecolor);
}